# Media files
*.avi
*.mp4
*.mkv
*.mov

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python / Virtual Environment
__pycache__/
*.pyc
venv/
.env

video_upscaling_technical_plan.md

# FFmpeg
ffmpeg.exe
ffprobe.exe

# Output & Cache
output/
cache/
.pytest_cache/
bin/
